:root {
    --light-orange: rgb(240, 146, 35);
    --blue-button: rgb(12, 106, 248);
    --grey-box-shadow: rgb(216, 216, 216);
    --lighter-orange: rgb(251, 222, 189);
    --green-button: rgb(12, 178, 79);
}

* {
    box-sizing: border-box!important;
    font-family: "Roboto"!important;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.w-100 {
    width: 100%;
}

.mr-1 {
    margin-right: 1rem!important;
}

.mr-10 {
    margin-right: 10rem!important;
}

.ml-10 {
    margin-left: 10rem!important;
}

.blue-btn, .green-btn {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--blue-button);
    color: white;
    border: 1px solid var(--blue-button);
    border-radius: 5px;
    min-width: 15%;
}

.form-error-msg {
    color: red;
}

html {
    font-size: 10px;
}

body, #vue-app {
    height: 100vh;
    width: 100vw;
    position: relative;
}

header {
    font-size: 2.2rem;
    padding: 2rem 0;
    display: flex;
    background-color: var(--light-orange);
    position: absolute;
    width: 100vw;
    color: white;
}

.content-wrapper {
    min-height: 100vh;
    padding-top: 90px;
    background-image: url("/static/img/confetti-whitebg.svg");
}

.signup-content-wrapper, .login-content-wrapper {
    height: 100vh;
}

/* nav */

.nav-middle-btn-wrapper {
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: left;
}

.nav-right-btn-wrapper {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-lang-btn, .nav-dark-btn, .nav-user-btn {
    display: inline-block;
    width: 6rem;
    height: 3rem;
    margin-right: 4rem;
}

.nav-user-btn {
    display: flex;
    align-items: center;
}

.nav-lang-btn > img {
    max-height: 100%;
}

.nav-btn {
    margin-right: 5rem;
}

.nav-rating-text {
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 0.8rem;
}

.nav-star {
    height: 2rem;
}

.nav-icon-wrapper {
    width: 15%;
    height: 50px;
}

#nav-icon {
    height: 85px;
    padding: 0 2rem;
}

.nav-middle-btn-wrapper > a, .nav-middle-btn-wrapper > a:hover,
.nav-middle-btn-wrapper > a:active, .nav-middle-btn-wrapper > a:visited,
.nav-middle-btn-wrapper > span {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.dark-mode {
    background-color: rgb(39, 3, 58);
}

/* login & signup */

.login-form, .signup-form {
    width: 50%;
    max-width: 70%;
}

.login-wrapper, .signup-wrapper {
    height: 65%;
    width: 50%;
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper > div:nth-child(1), .signup-wrapper > div:nth-child(1) {
    position: absolute;
    top: -100px;
    left: -80px;
}

.log-h3, .signup-h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.login-inputs-group, .signup-inputs-group {
    width: 50%;
    transform: translateX(50%);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.login-inputs-group > input, .signup-inputs-group > input,
.login-inputs-group > button, .signup-inputs-group > button {
    font-size: 2rem;
    margin-top: 0.8rem;
}

.login-inputs-group > button, .signup-inputs-group > button {
    padding: 1rem;
    background-color: var(--blue-button);
    color: white;
    border: 1px solid var(--blue-button);
    border-radius: 5px;
}

.form-input {
    border-radius: 5px;
    border: 1px solid var(--grey-box-shadow);
    box-shadow: 1px 1px var(--grey-box-shadow);
}

/* home nav */

#home-nav-icon-wrapper {
    height: 100px;
    width: 25%;
}

#home-nav-icon {
    height: 140px;
    padding: 0 2rem;
}

#home-nav-h-wrapper {
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-nav-btn-wrapper {
    width: 25%;
}

.home-nav-btn > a, .home-nav-btn > a:hover,
.home-nav-btn > a:active {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#home-nav-btn-wrapper > div {
    height: 33%;
}

#home-nav-btn-wrapper > div:nth-child(1) {
    display: flex;
    justify-content: end;
}

#home-nav-btn-wrapper > div:nth-child(2),
#home-nav-btn-wrapper > div:nth-child(3) {
    font-size: 1.5rem;
}

.home-nav-h1 {
    font-size: 3rem;
    font-weight: bold;
}

.home-nav-h3 {
    font-size: 2rem;
}

.home-lang-btn, .home-dark-btn {
    display: inline-block;
    width: 6rem;
    height: 3rem;
    margin-right: 4rem;
}

.home-lang-btn > img {
    max-height: 100%;
}

.home-nav-btn, .home-rating-btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2rem
}

.home-nav-rating-text {
    text-align: right;
    margin-right: 1rem;
}

.home-nav-pipe {
    margin: 0 1rem;
}

/* Home content */

.home-content-img {
    height: 50vh;
    width: 30vw;
}

.home-content-wrapper-outer {
    padding-top: 65px;
}

.home-content-wrapper {
    display: flex;
    justify-content: space-around;
    width: 70vw;
    max-width: 1200px;
    margin: auto;
    padding-top: 8rem;
}

.home-content-text-wrapper {
    display: flex;
    align-items: center;
}

.home-content-h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4rem;
}

.home-content-p {
    font-size: 1.5rem;
}

.home-content-aside-wrapper {
    height: 40rem;
    background-color: var(--lighter-orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content-aside-wrapper > div {
    height: 65%;
    text-align: center;
}

.home-content-aside-h1, .home-content-aside-span {
    font-size: 3rem;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 8rem;
}

.home-content-aside-span {
    margin: 0 3rem 8rem;
}

.home-content-aside-btn-ok, .home-content-aside-btn-log {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    padding: 2rem 6rem;
    border-radius: 5px;
}

.home-content-aside-btn-ok {
    background-color: var(--blue-button);
}

.home-content-aside-btn-log {
    background-color: var(--green-button);
}

.home-content-aside-link {
    font-size: 1.5rem;
    color: black;
}

/* Footer */

footer {
    height: 15rem;
    background-color: var(--light-orange);
    display: flex;
    justify-content: center;
    color: white;
}

.footer-wrapper {
    text-align: center;
    padding-top: 2rem;
}

.footer-wrapper > span {
    height: 5rem;
}

.footer-icons {
    height: 5rem;
    margin: 1rem;
}

.footer-h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.footer-h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* searchComp */

.search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.search-wrapper > div {
    width: 80%;
    height: 4rem;
}

.search-wrapper > div:nth-child(1) {
    margin-bottom: 1rem;
}

.search-wrapper > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

.search-h1 {
    font-size: 3rem;
}

.search-input-wrapper {
    width: 80%;
    position: relative;
}

.search-input-wrapper > span {
    position: absolute;
    height: 100%;
    width: 5%;
    border: 1px solid red;
    border-radius: 5px;
    background: red;
    color: white;
    font-size: 2rem;
    transform: translateX(-100%);
    padding-top: 1%;
    text-align: center;
}

.search-input {
    height: 100%;
    width: 100%;
    font-size: 2rem;
    border-radius: 5px;
    border: 1px solid var(--grey-box-shadow);
    box-shadow: 1px 1px var(--grey-box-shadow);
}

/* listComp, listCardComp */

.list-card-comp-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-comp-h1 {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.list-card {
    width: 27%;
    min-width: 25rem;
    height: 22rem;
    max-width: 25rem;
    border: 1px solid var(--grey-box-shadow);
    background-color: white;
    border-radius: 5px;
    margin-top: 2rem;
}

.list-card-add-new {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.list-card-add-new > img {
    height: 6rem;
    width: 6rem;
}

.list-card-header, .list-card-bottom {
    height: 25%;
    background-color: var(--green-button);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

.list-card-header > h3::first-letter {
    text-transform:capitalize;
}

.list-card-bottom {
    background-color: var(--blue-button);
    border-radius: 0 0 5px 5px;
}

.list-card-header > h3, .list-card-bottom > h3 {
    font-size: 2rem;
}

.list-card-body-up, .list-card-body-down {
    height: 75%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-card-body-down {
    height: 50%;
}

.list-card-learnt-wrapper, .list-card-word-num-wrapper {
    text-align: center;
}

.list-card-learnt-wrapper > div, .list-card-word-num-wrapper > div {
    margin-bottom: 1rem;
}

.list-card-learnt-wrapper > div:nth-child(1) {
    color: var(--green-button);
    font-weight: bold;
    font-size: 2rem;
}


.list-card-word-num-wrapper > div:nth-child(1) {
    color: var(--light-orange);
    font-weight: bold;
    font-size: 2rem;
}

/* cardComp */

.card-comp-wrapper {
    padding-top: 3rem;
}

.card-function-btn-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

.card-funtion-btn-new {
    text-align: center;
}

.card-funtion-btn-random {
    text-align: center;
}

.card-funtion-btn-random > img {
    height: 1.2rem;
}

.card-function-title {
    font-size: 2.8rem;
    font-weight: bold;
}

.card-main-card-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.card-wrapper {
    background-color: white;
    border: 1px solid var(--grey-box-shadow);
    border-radius: 5px;
    width: 90%;
    height: 40rem;
}

.card-main-card-wrapper > img {
    height: 40%;
}

.card-step-right, .card-step-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-range-of-card-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    -webkit-perspective: 10cm;
    perspective: 10cm;
    align-items: center;
}

.card-range-of-card {
    height: 6rem;
    width: 13rem;
    border: 1px solid var(--grey-box-shadow);
    border-radius: 10px;
    margin: 0 1rem;
    background-color: white;
    -webkit-box-shadow: 0 0 10px 5px var(--grey-box-shadow);
    -moz-box-shadow: 0 0 10px 5px var(--grey-box-shadow);
    box-shadow: 0 0 10px 5px var(--grey-box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lighter-orange);
}

.card-range-of-card > div, .card-main-word > span {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-break: anywhere;
}

.card-range-of-card-empty {
    height: 2rem;
    width: 13rem;
    margin: 0 1rem;
}

/* range of card = roc*/
.card-roc-main {
    height: 9rem;
    width: 14rem;
    z-index: 5;
    font-size: 2rem;
}

.card-roc-main-min-one {
    height: 7rem;
    width: 12rem;
    -webkit-transform: rotateY(50deg);
    transform: rotateY(50deg);
    z-index: 4;
    font-size: 1.5rem;
}

.card-roc-main-min-two {
    height: 6rem;
    width: 12rem;
    -webkit-transform: rotateY(75deg);
    transform: rotateY(75deg);
    z-index: 3;
    font-size: 1.5rem;
}

.card-roc-main-min-three {
    height: 5rem;
    width: 10rem;
    -webkit-transform: rotateY(75deg);
    transform: rotateY(75deg);
    z-index: 2;
}

.card-roc-main-min-four {
    height: 4rem;
    width: 9rem;
    -webkit-transform: rotateY(75deg);
    transform: rotateY(75deg);
    z-index: 1;
}

.card-roc-main-plus-one {
    height: 7rem;
    width: 12rem;
    -webkit-transform: rotateY(-50deg);
    transform: rotateY(-50deg);
    z-index: 4;
    font-size: 1.5rem;
}

.card-roc-main-plus-two {
    height: 6rem;
    width: 12rem;
    -webkit-transform: rotateY(-75deg);
    transform: rotateY(-75deg);
    z-index: 3;
    font-size: 1.5rem;
}

.card-roc-main-plus-three {
    height: 5rem;
    width: 10rem;
    -webkit-transform: rotateY(-75deg);
    transform: rotateY(-75deg);
    z-index: 2;
}

.card-roc-main-plus-four {
    height: 4rem;
    width: 9rem;
    -webkit-transform: rotateY(-75deg);
    transform: rotateY(-75deg);
    z-index: 1;
}

/* card main */

.card-main-top-line, .card-main-bottom-line,
.card-main-meanings-line, .card-main-example-line, .card-main-meanings-details-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.card-main-meanings-line, .card-main-example-line, .card-main-meanings-details-line {
    justify-content: start;
}

.card-main-meanings-line > span, .card-main-example-line > span {
    margin-left: 5rem;
    font-size: 2rem;
    font-weight: bold;
}

.card-main-meanings-details-line {
    font-size: 1.2rem;
    margin-left: 7rem;
}

.card-main-top-line-img, .card-main-bottom-line-img {
    height: 2rem;
}

.card-main-switch-side-btn-wrapper, .card-main-word {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-main-switch-side-btn {
    background-color: var(--green-button);
    border-color: var(--green-button);
}

.card-main-word > span {
    font-size: 3rem;
    font-weight: bold;
}

/* card search */

.card-search-match-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.card-search-match{
    border: 1px solid var(--grey-box-shadow);
    border-radius: 5px;
    margin: 0.5rem;
    font-size: 1.8rem;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-grow: 1;
    max-width: 50rem;
    justify-content: center;
}
