{% load static %}
    <div id="home-nav-icon-wrapper">
        <a href="{% url 'home' %}"><img id="home-nav-icon" src="{% static 'img/icon-big.svg' %}" alt="capicon"></a>
    </div>

    <div id="home-nav-h-wrapper">
        <div>
            <h1 class="home-nav-h1">[[isEnglish ? 'Learn new words' : 'Tanulj új szavakat']]</h1>
            <br>
            <h3 class="home-nav-h3">[[isEnglish ? 'with the memory card method' : 'Memória kártyákkal']]</h3>
        </div>
    </div>

    <div id="home-nav-btn-wrapper">
        <div>
            <div @click.prevent="setLanguage" class="home-lang-btn">
                <img v-if="!isEnglish" src="{% static 'img/uk-flag.svg' %}" alt="en-flag">
                <img v-else src="{% static 'img/hun-flag.svg' %}" alt="hun-flag">
            </div>
            <div class="home-dark-btn">
                <switch-button v-model="darkMode" @toggle-dark-mode="setDarkMode"></switch-button>
            </div>
        </div>
        <div>
            <div class="home-nav-btn">
                <a href="{% url 'app_content' %}">[[isEnglish ? 'Word Cards' : 'Szókártyák']]</a>
                <span class="home-nav-pipe">&#124;</span>
                <a href="{% url 'login_user' %}">[[isEnglish ? 'Login' : 'Bejelentkezés']]</a>
                <span class="home-nav-pipe">&#124;</span>
                <a class="mr-1" href="{% url 'signup_user' %}">[[isEnglish ? 'Sign up' : 'Regisztráció']]</a>
            </div>
        </div>
        <div>
            értékelés
        </div>
    </div>

