{% extends 'app/base.html' %}

{% block content %}

    <div class="home-content-wrapper" v-for="(content, i) in homeContent" :style="{paddingTop:'8rem'}">
        <template v-if="i%2!=0">
            <div>
                <img class="home-content-img" :src="content.img_src" alt="pic">
            </div>
            <div>
                <h3>[[content.title_eng]]</h3>
                <p>[[content.text_eng]]</p>
            </div>
        </template>
        <template v-else>
            <div>
                <h3>[[content.title_eng]]</h3>
                <p>[[content.text_eng]]</p>
            </div>
            <div>
                <img class="home-content-img" :src="content.img_src" alt="pic">
            </div>
        </template>
    </div>

{% endblock %}