{% extends 'app/base.html' %}

{% block content %}

<div class="login-wrapper">
    <form action="" method="post">
        {% csrf_token %}
        <h3 class="log-h3">[[isEnglish ? 'Login' : 'Bejelentkezés']]</h3>
        <div class="login-inputs-group">
            <label for="username">[[isEnglish ? 'Username' : 'Felhasználónév']]</label>
            <br>
            <input class="form-input w-100" type="text" name="username" id="usernameInput">
        </div>
        <div class="login-inputs-group">
            <label for="password">[[isEnglish ? 'Password' : 'Jelszó']]</label>
            <br>
            <input class="form-input w-100" type="password" name="password" id="passwordInput">
        </div>
        <div class="login-inputs-group">
            <button type="submit" class="w-100">[[isEnglish ? 'Login' : 'Bejelentkezés']]</button>
        </div>
        {{ error }}
    </form>
</div>

{% endblock %}